@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

/*HAUPT STYLES*/
* {
	color: #67472F;
	font-size: 13px;
	font-family: Montserrat;
	padding: 0;
	margin: 0;
}
body {
	background-color: #EDD5C3;
}
h1 {
	font-size: 4.3em;
	color: #EDD5C3;
	font-weight: 200;
	text-align: left;
	margin: 100px 0 0px;
}
h2 {
	font-size: 3em;
	color: #FDF0E3;
	font-weight: 600;
	font-style: italic;
	text-align: left;
	text-transform: uppercase;
}
h3 {
	font-size: 1.5em;
	color: #FFF7F0;
	font-weight: 600;
	text-transform: uppercase;
}
p,
ul {
	font-weight: 300;
	padding-bottom: 20px;
}
ul {
	list-style-type: none;
}
#kopfbereich {
	background-color: #BFA58E;
	padding: 150px 10% 0px 10%;
}
#inhaltsbereich {
	padding: 0px 15% 0px 0px;
}
#fussbereich {
	width: 100%;
	text-align: center;
	margin-bottom: 20px
}
#fussbereich a {
	font-size: 0.85em;
	text-decoration: none;
}
#fussbereich a:hover,
#fussbereich a:focus {
	text-decoration: underline;
}
.trennlinie {
	border-bottom: 0.5px solid #67472F;
	margin-bottom: 10px;
}
ul.navigation {
	width: 50%;
	height: 30px;
	list-style-type: none;
	overflow: hidden;
	clear: both;
	padding: 10px;
}
ul.navigation li {
	float: left;
	text-align: left;
	margin-right: 55px;
}
ul.navigation li a {
	text-decoration: none;
	color: #FFFCFA;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
}
ul.navigation li a:hover,
ul.navigation li a:focus {
	color: #BFA58E; /*farbe für hover von navi*/
}
.abschnitt {
	clear: both;
	overflow: hidden;
	padding: 40px 0;
	border-bottom: 0.5px solid #67472F;
}
ul.dokumentation {
	list-style-type: none;
	overflow: hidden;
	clear: both;
}
ul.dokumentation li {
	text-align: center;
}
ul.dokumentation li a {
	font-size: 1.5em;
	text-decoration: underline;
	color: #C79D66;
	text-transform: uppercase;
	font-weight: 600;
}
ul.dokumentation li a:hover,
ul.dokumentation li a:focus {
	color: #a8804d; /*farbe für hover von navi*/
}
.unterschrift {
	font-weight: 100;
	font-size: 1.5em;
	text-align: right;
	padding-right: 20px;
}
/*HAUPT STYLES*/

/*STARTSEITE*/
#startseite #kopfbereich {
	padding: 80px 15% 40px;
}
#startseite #kopfbereich h1 {
	margin-top: 50px;
}
#startseite #inhaltsbereich ul.navigation {
	width: 525px;
	padding-left: 50%;
	margin-left: -262.5px;
}
#startseite #inhaltsbereich ul.navigation li a {
	font-size: 1.5em;
	color: #67472F;
	font-weight: 300;
}
#startseite #inhaltsbereich ul.navigation li a:hover,
#startseite #inhaltsbereich ul.navigation li a:focus {
	color: #a8804d; /*farbe für hover von navi*/
}
#startseite #inhaltsbereich ul.navigation li:first-child {
	text-align: left;
}
#startseite #inhaltsbereich ul.navigation li:last-child {
	text-align: right;
}
#startseite #fussbereich {
	position: absolute;
	bottom: 0;
}
/*STARTSEITE*/

/*ÜBER MICH*/
#uebermich .abschnitt.motivation {
	position: relative;
	min-height: 230px;
}
#uebermich .abschnitt.faehigkeiten .strukturbox.rechts {
	float: left;
	width: 50%;
	padding: 0 60%;
	display: inline-block;
}
#uebermich .abschnitt.motivation .strukturbox.links {
	position: absolute;
	top: 40px;
	margin: 0px 45% 0 10%;
}
#uebermich .abschnitt.motivation .strukturbox.rechts {
	position: absolute;
	top: 40px;
	left: 270px;
}
#uebermich .strukturbox img#passbild {
    float: right;
	width: 500px;
	height: 604px;
	margin: -100px 0 0 0;
        }
}
#uebermich #lebensbaum {
	background: url(Bilder/baum1.png) bottom center no-repeat;
	height: 496px;
	width: 242px;
	position: fixed;
	bottom: 20px;
	right: 0;
}
#uebermich #zeitstrahl {
	margin-left: 50%;
	margin-top: 30px;
	padding: 30px 0;
	border-left: 3px solid #CA9E67;
}
#uebermich #zeitstrahl dl {
	margin-left: -100%;
}
#uebermich #zeitstrahl dl > div {
	margin-bottom: 50px;
}
#uebermich #zeitstrahl dl .schule {
	background: url(Bilder/braunerPunkt.png) 49.84% top no-repeat;
	padding-right: 53%;
	text-align: right;
}
#uebermich #zeitstrahl dl .schule dt {
	color: #CA9E67
}
#uebermich #zeitstrahl dl .arbeit {
	background: url(Bilder/gruenerPunkt.png) 49.84% top no-repeat;
	padding-left: 53%;
	text-align: left;
}
#uebermich #zeitstrahl dl .arbeit dt {
	color: #98B022
}
#uebermich #zeitstrahl dl > div.weiteroben {
	margin-top: -70px;
}
.continued h3 {
	text-transform: lowercase;
	text-align: center;
}	
/*ÜBER MICH*/

/*ZEICHNUNGEN*/
#zeichnungen .lightbox.preview {
	text-decoration: none;
	position: relative;
	z-index: 9998;
}
#zeichnungen .lightbox a {
	text-decoration: none;
}
.lightbox {
	padding: auto 3em;
}
.example-image {
	margin: 5px;
}
/*ZEICHNUNGEN*/

/*PROJEKTE*/
#projekte #inhaltsbereich {
	text-decoration: none;
	position: relative;
	z-index: 9998;
}
#projekte #inhaltsbereich a {
	text-decoration: none;
}
/*PROJEKTE*/

/*TWINOLA*/
#twinola .abschnittbilder img.full-image {
	width: 100%;
	margin-bottom: 20px;
}
#twinola .abschnittbilder {
	padding-bottom: 50px;
	border-bottom: 0.5px solid #67472F;
}
#twinola p {
	margin: 30px 0px 0px 50%;
	text-align: justify;
}
#twinola .abschnitt.video {
	padding: 50px 0;
	border-bottom: 0.5px solid #67472F;
}
#twinola video.animation {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}
#twinola .abschnitt.designprozess {
	padding: 50px 0;
	border-bottom: 0.5px solid #67472F;
}
#twinola .abschnitt.designprozess h3 {
	margin-bottom: 10px;
}
#twinola .abschnitt.designprozess img.full-image {
	width: 32%;
	margin: 4px 4px;
}
/*TWINOLA*/

/*IPENELA*/
#ipenela .abschnitt {
	padding: 50px 0;
	border-bottom: 0.5px solid #67472F;
}
#ipenela .abschnitt h3 {
	margin-bottom: 10px;
}
#ipenela img.full-image {
	width: 100%;
	padding-top: 15px;
}
#ipenela p {
	margin: 0px 0px 0px 50%;
	text-align: justify;
}
#ipenela .abschnitt img.verpackung {
	width: 23.8%;
	margin: 4px 4px;
}
#ipenela .box {
	position: relative;
	min-height: 230px;
	padding: 50px 0;
	border-bottom: 0.5px solid #67472F;
}
#ipenela .mood.rechts {
	position: absolute;
	left: 50.8%;
	top: 11%;
}
#ipenela .mood.links img.moodboard {
	width: 49.3%;
	margin-top: 15px;
}
#ipenela .mood.rechts img.visiten {
	width: 100%;
	margin-top: 15px;
}
#ipenela .plakate.rechts {
	position: absolute;
	left: 25.5%;
	top: 11%;
}
#ipenela .plakate.links img.plakat {
	width: 23.7%;
	margin-top: 15px;
}
#ipenela .plakate.rechts img.plakat {
	width: 32%;
	margin-top: 15px;
	padding-right: 1.5%;
}
#ipenela .plakate.rechts img.plakat1 {
	width: 32%;
	margin-top: 15px;
}
#ipenela .abschnitt.seite {
	padding: 50px 0;
	border-bottom: 0.5px solid #FFF2CD;
}
#ipenela .abschnitt img.seite {
	width: 48.9%;
	margin: 4px 4px;
}
#ipenela ul.dokumentation {
	padding: 50px 0;
	border-bottom: 0.5px solid #67472F;
}
#ipenela .abschnitt img.prozess {
	width: 32%;
	margin: 4px 4px;
}
/*IPENELA*/

/*MERKEMERLE*/
#merkemerle p {
	margin: 50px 0px 0px 51%;
	text-align: justify;
}
#merkemerle .abschnittmerke {
	padding-bottom: 50px;
	border-bottom: 0.5px solid #67472F;
}
#merkemerle .abschnitt h3 {
	margin-bottom: 10px;
}
#merkemerle .abschnittmerke img.merke {
	width: 32.1%;
	margin: 4px 4px;
}
#merkemerle .abschnittmerke img.merke1 {
	width: 48.9%;
	margin: 4px 4px;
}
#merkemerle .abschnitt img.merke-inhalt {
	width: 23.8%;
	margin: 4px 4px;
}
#merkemerle .abschnitt img.merke-prozess {
	width: 23.8%;
	margin: 4px 4px;
}
/*MERKEMERLE*/

/*ROTATION*/
#rotationskoerper p {
	margin: 0px 0px 0px 57%;
	text-align: justify;
}
#rotationskoerper .abschnittrotation {
	padding-bottom: 50px;
	border-bottom: 0.5px solid #67472F;
}
#rotationskoerper .abschnitt h3 {
	margin-bottom: 10px;
}
#rotationskoerper img.rotation {
	width: 100%;
	padding-bottom: 50px;
}
#rotationskoerper .abschnitt img.rotation-prozess {
	width: 23.8%;
	margin: 4px 4px;
}
/*ROTATION*/

/*STORY*/
#storytelling p {
	margin: 50px 0px 0px 57%;
	text-align: justify;
}
#storytelling .abschnittstory {
	padding-bottom: 50px;
	border-bottom: 0.5px solid #67472F;
}
#storytelling .abschnitt h3 {
	margin-bottom: 10px;
}
#storytelling .abschnittstory img.story-figuren {
	width: 23.8%;
	margin: 4px 4px;
}
#storytelling .abschnitt img.story-suche {
	width: 100%;
}
#storytelling .abschnitt img.story-nudges {
	width: 32%;
	margin: 4px 4px;
}
#storytelling .abschnitt img.story-sprech{
	width: 32%;
	margin: 4px 4px;
}
#storytelling .abschnitt img.story-emotion{
	width: 32%;
	margin: 4px 4px;
}
#storytelling .abschnitt img.story-skizze {
	width: 48.9%;
	margin: 4px 4px;
}
/*STORY*/

/*SCHMUCK*/
#schmuckchecker p {
	margin: 30px 0px 0px 34%;
	text-align: justify;
}
#schmuckchecker .abschnittschmuck {
	padding-bottom: 50px;
	border-bottom: 0.5px solid #67472F;
}
#schmuckchecker .abschnitt h3 {
	margin-bottom: 10px;
}
#schmuckchecker .abschnittschmuck img.schmuck-prozess {
	width: 100%;
}
#schmuckchecker .abschnitt img.schmuck {
	width: 32.1%;
	margin: 4px 4px;
}
#schmuckchecker ul.dokumentation li {
	text-align: left;
	margin: 20px 0px 0px 34%;
}
/*SCHMUCK*/

/*FAHRZEUG*/
#fahrzeugbeschriftung p {
	margin: 50px 0px 0px 50%;
	text-align: justify;
}
#fahrzeugbeschriftung .abschnittfahr {
	padding-bottom: 50px;
	border-bottom: 0.5px solid #67472F;
}
#fahrzeugbeschriftung .abschnitt h3 {
	margin-bottom: 10px;
}
#fahrzeugbeschriftung .abschnittfahr img.fahrzeug {
	width: 100%;
}
#fahrzeugbeschriftung .abschnitt img.fahrzeug1 {
	width: 67.9%;
	margin: 4px 4px 25px;
}
#fahrzeugbeschriftung .abschnitt img.fahrzeug2 {
	width: 29.9%;
	margin: 4px 4px 25px;
}
#fahrzeugbeschriftung .abschnitt img.fahrzeug-umsetzung1 {
	width: 62.3%;
	margin: 4px 4px;
}
#fahrzeugbeschriftung .abschnitt img.fahrzeug-umsetzung2 {
	width: 35.5%;
	margin: 4px 4px;
}
/*FAHRZEUG*/

/*PIKTOGRAMME*/
#piktogramme p {
	margin: 50px 0px 0px 67%;
	text-align: justify;
}
#piktogramme .abschnittpik {
	padding-bottom: 50px;
	border-bottom: 0.5px solid #67472F;
}
#piktogramme .abschnitt h3 {
	margin-bottom: 10px;
}
#piktogramme .abschnittpik img.pik {
	width: 32.1%;
	margin: 4px 4px;
}
/*PIKTOGRAMME*/

/*KLEINE PROJEKTE*/
#kleineprojekte p {
	margin-top: 15px;
	text-align: justify;
}
#kleineprojekte .box {
	position: relative;
	min-height: 230px;
	padding-bottom: 50px;
	border-bottom: 0.5px solid #67472F;
}
#kleineprojekte .box2 {
	position: relative;
	min-height: 230px;
	padding: 50px 0;
	border-bottom: 0.5px solid #67472F;
}
#kleineprojekte .rechts1 {
	position: absolute;
	left: 75%;
	top: 0;
}
#kleineprojekte .rechts {
	position: absolute;
	left: 75%;
	top: 9%;
}
#kleineprojekte .rechts2 {
	position: absolute;
	left: 75%;
	top: 30%;
}
#kleineprojekte .links {
	position: relative;
}
#kleineprojekte .links img {
	width: 73%;
}
#kleineprojekte .links img.reinewasser {
	width: 73%;
	margin-top: 2%;
}
#kleineprojekte .links ul.dokumentation li {
	text-align: right;
	margin-right: 27%;
	margin-top: 10%;
}
/*KLEINE PROJEKTE*/

/*IMPRESSUM*/
#impressum ul.navigation li {
	width: 100%;
}
/*IMPRESSUM*/
	
	

/*CSS-ANGABEN FÜR ZWISCHENGRÖSSE*/
@media (max-width: 860px) {
	#uebermich .abschnitt.motivation {
		position: relative;
		min-height: 300px;
	}
}

/*CSS-ANGABEN FÜR SMARTPHONE*/
@media only screen
and (max-device-width: 520px)
and (orientation: portrait)  {
	ul.navigation {
		height: auto;
	}
	ul.navigation li {
		clear: both;
		text-align: right;
		width: 100%;
		padding: 10px 0;
	}
	/*STARTSEITE*/
	#startseite #inhaltsbereich ul.navigation {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	#startseite #inhaltsbereich ul.navigation li,
	#startseite #inhaltsbereich ul.navigation li:first-child,
	#startseite #inhaltsbereich ul.navigation li:last-child 	{
		text-align: center;
	}
	/*STARTSEITE*/
	
	/*ÜBER MICH*/
	#uebermich .abschnitt.motivation .strukturbox.rechts {
		position: relative;
		top: auto;
		left: auto;
	}
	#uebermich .abschnitt.faehigkeiten .strukturbox {
		clear: both;
		width: 100%;
	}
	#uebermich #zeitstrahl {
		margin-left: 10px;
	}
	#uebermich #zeitstrahl dl {
		margin-left: -10px;
	}
	#uebermich #zeitstrahl dl .schule,
	#uebermich #zeitstrahl dl .arbeit {
		text-align: left;
		padding: 0 0 0 20px;
		background-position: left top;
	}
	#uebermich #zeitstrahl dl > div.weiteroben {
		margin-top: 0;
	}
	.continued h3 {
		text-align: left;
	}
	/*ÜBER MICH*/
}
/*CSS-ANGABEN FÜR SMARTPHONE*/